<header class="py-5">
  <div class="container px-lg-5">
      <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
          <div class="m-4 m-lg-5">
              <h1 class="display-5 fw-bold">A warm welcome!</h1>
              <p class="fs-4">Your trusted source for breaking news, analysis, exclusive interviews, headlines, and videos  at ESSENTIALS</p>
              <a class="btn btn-primary btn-lg" routerLink="/news" routerLinkActive="active">Read top stories !</a>
          </div>
      </div>
  </div>

</header>

